# Unreal project
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Plugin source (keep)
!Plugins/**/Source/
!Plugins/**/Content/

# Ignore plugin build outputs
Plugins/**/Binaries/
Plugins/**/Intermediate/
Plugins/**/Saved/

# Content exceptions
/Content/*
!/Content/TopDown/
